<div id='autoscroll' class='swizzle-board'>
	<ul class='swizzle-list'>
		<% @swizzleHTMLHashArray.each do |swizzleData| %>
			<li class='swizzle-status'>
				<a href=<%=swizzleData[:link]%>>
					<div class='title'>
						<h1><%= swizzleData[:title] %></h1>
					</div>
				</a>
				<div class='swizzle-data'>
					<div class='deployed-time'>
						<p><%= swizzleData[:date] %></p>
					</div>
					<div class='deployer'>
						<p><%= swizzleData[:deployer] %></p>
					</div>
					<div class='commit-code'>
						<h1>-Last Commit-</h1>
						<p><%= swizzleData[:commitCode] %></p>
					</div>
					<div class='branch'>
						<h1><%= swizzleData[:branch] %></h1>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>