<div class='swizzle-board autoscroll'>
	<ul class='swizzle-list'>
		<% @swizzleHTMLHashArray.each do |swizzleData| %>
			<li id='<% if swizzleData[:isDown]==0 %><%= swizzleData[:title].downcase.sub(':', '-') %><% else %><%= swizzleData[:title].split[0].downcase.sub(':', '-')  %><% end %>' class='swizzle-status <% if swizzleData[:isDown] == 1%><%= 'swizzle-error' %><% else %><%= 'type-' + swizzleData[:type]%><% end %>'>
				<a href=<%=swizzleData[:link]%> target="_blank">
					<div class='title'>
						<h1><%= swizzleData[:title] %></h1>
					</div>
			      </a>
				<div class='swizzle-data'>
					<div class='deployed-date'>
						<p><%= swizzleData[:date] %></p>
					</div>
					<div class='deployer'>
						<p><%= swizzleData[:deployer] %></p>
					</div>
					<div class='commit-code'>
						<h1>-Last Commit-</h1>
						<a href="http://git.labs.sabre.com:88/?p=<%= swizzleData[:type] %>.git;a=commitdiff;h=<%= swizzleData[:commitCode] %>" target="_blank"><p><%= swizzleData[:commitCode] %></p></a>
					</div>
					<div class='branch'>
						<h1><%= swizzleData[:branch] %></h1>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>